body {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'Itim';
  src: url('./Itim-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

input[type='text'] {
  width: 100%;
  box-sizing: border-box;
}
